
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rside {
    margin-right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lside {
    margin-left: 15%;
    display: flex;
    gap: 20px;
    background-color: white;
    font-weight: 100;
}
.martin img{
    height: 400px;
    width: 300px;

}
.leftside{
    height: 550px;
}

.lside input {
    width: 600px;
    vertical-align: initial;
    outline: 0px;
    border: 1px solid rgb(240, 236, 236);
    border-radius: 7px;
}

.navbar {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

}

.itms a {
    text-decoration: none;
    color: rgb(58, 59, 59);

}

a {
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search {
    text-align: center;

}

.kochi {

    font-size: 14px;
    font-weight: 400;
    color: rgb(26, 26, 26);
    padding-right: 15px;
    line-height: 19px;
}

.dropbtn .drop {
    font-size: 20px;
    color: rgb(122, 126, 126);
}
#bgimg{
height: 550px;
}
.signin {
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
}

.secondnav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid lightgrey;
}

.slside {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 100;
    margin-left: -90px;
    color: rgb(58, 59, 59);
}

.srisde {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    color: rgb(71, 71, 71);
}

a {
    text-decoration: none;
    color: rgb(58, 59, 59);

}
.martin{
    padding-left: 130px;
    padding-right: 20px;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    padding-top: 30px;
    border-radius: 16px 16px 0px 0px;
    

}

.incinema {
    background-color: black;
    width: 280px;
    margin-left: 128px;
    color: white;
    text-align: center;
    height: 30px;
    align-items: center;
    align-content: center;
}

.mainside {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 550px;
    width: 92%;
    font-family: Roboto;

}
.leftside{
    width: 25%;
    height: 100%;
}
.rightside {
   width: 75%;
   height: 100%;
}
.mai {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
}



.rightside h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
    color: white;
    font-family: Roboto;

}

.rating {
    display: flex;
    width: 500px;
    border-radius: 10px;
    height: 70px;
    gap: 10px;
    background-color: rgb(51, 51, 51);
    font-size: 20px;
    padding: 20px;
    color: white;
    align-items: center;
}
.rating img{
    height: 35px;
    width: 35px;
}

.rating button {
    padding: 10px;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    font-size: 18px;
}
.btt{
    height: 60px;
    width: 80px;
    margin-left: 80px;
    margin-top: 10px;
    
}
.lang {
    display: flex;
    gap: 10px;

}

.M2D {
    background-color: rgb(229, 229, 229);
    border-radius: 2px;
    width: 30px;
    height: 28px;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.langs {
    background-color: rgb(229, 229, 229);
    border-radius: 2px;
    width: 400px;
    height: 28px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.duration {
    color: white;
    font-size: 21px;
}

.bookticket {
    width: 220px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(248, 68, 100);
    color: white;
    font-size: 20px;
    border: none;
}
.About{
    font-family: Roboto;
}
.headabout{
    margin-left: 150px;
}
.About h2{
    font-size: 28px;
}
.About p{
    width: 950px;
    font-size: 18px;
    color: rgb(40, 34, 34);
    line-height: 1.7rem;
}



.footer1{
    height: 90px;
     width: 100%;
     background-color:rgb(54, 53, 53);
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
 
   .logoside{
     padding-left: 10%;
     color: white;
     font-weight: 400;
     display: flex;
     gap: 30px;
     font-size: 16px;
   }
   .buttonside{
     padding-right: 10%;
     color: white;
 
   }.buttonside button{
     flex: 0 0 auto;
     background-color: rgb(236, 94, 113);
     border-radius: 5px;
     padding: 10px 20px;
     text-decoration: none;
     color: rgb(255, 255, 255);
   }

.footer2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    background-color: rgb(76, 74, 74);
  }.icon1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 100;
    font-size: smaller;
    gap: 10px;
color: #9c9696;

  }

.footer2 .material-symbols-outlined{
    font-size: 50px;
    font-weight: 1;
    color: #888484;
      }
    
    
    
      .footer3{
        width: 100%;
        background-color:rgb(54, 53, 53);
    color: #888484;
      }
    
     .footer3 .headdiv{
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
      }
      .footer3 .paradiv{
        padding-left: 10%;
          }
    
          .paradivlast{
            padding-left: 10%;
            padding-bottom: 90px;
          }
    
          .line{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            padding-bottom: 70px;
          }
    
          .line div{
            width: 100%;
            height: 1px;
            background-color: #a79f9f;
            margin: 20px;
          }
    
          .iconsf{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding-bottom: 50px;
          }
          .circles{
            height: 40px;
            width: 40px;
            background-color: #6f6a6a;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }.last{
            width: 100%;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
          }
    
          .last p{
            font-size: 12px;
          }
    
          .headdiv{
            font-size: 13px;
            color: #a79f9f;
            font-weight: 600;
          }
          .paradiv{
            font-size: 11px;
          }
